.container{
    background-color: rgb(109, 209, 122);
    height:50rem;
    margin-top: 50px;
    border-radius: 10px;
}
.chiffre{
    border: 1px solid black;
    height: 200px;
    background-color:#bb6688;
    border-radius: 10px;
    text-align: center;
    font-size:50px; 
}
    

